.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    color: #f0f0f0;
    padding: 1rem 2rem;
    flex-wrap: wrap; /* mantém visual estável em telas pequenas */
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #8a2be2;
}

.title {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin-left:5.5rem;
}

.subtitle {
    font-size: 1rem;
    color: #aaa;
    white-space: nowrap;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .header {
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }
  
    .title {
      flex: none;
      margin-left: 0rem;
    }
  
    .subtitle {
      text-align: center;
      white-space: normal;
    }
  }
  